
{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    {% if user.is_authenticated%}
    <form method="POST" class="post-form" action="people">  

    <div class="container">
      <div class="row">
        <div class="col">
          <table id="reviewers" class="col table table-striped table-bordered" style="width: 500px;margin-top: 20px;">
            <thead>
              <tr>
                <th colspan="3" style="text-align: center; font-size: 24px; background-color: #ececf4;">REVIEWERS</th>
              </tr>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Remove</th>
                    
                </tr>
            </thead>
            {% for people in Reviewers %}
            
            <tbody>
                <tr>
                    <td>{{people.reviewer}}</td>
                    <td>System Architect</td>
                    <td><button type="button" class="btn btn-warning">Remove</button></td>
                    
                </tr>
                <tr>
                    <td>{{people.reviewer}} {{people.reviewer}}</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
                <tr>
                  <td>{{people.reviewer}} {{people.reviewer}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
              </tr>
                <tr>
                  <td>{{people.reviewer}} {{people.reviewer}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
            </tbody>
           
            {% endfor %}
          </table>
          <button type="button" class="btn btn-info">Add Reviewer</button>
    
        </div>
        <div class="col">
          <table id="reviewees" class="col table table-striped table-bordered" style="width: 500px; margin-top: 20px;">
            <thead>
              <tr>
                <th colspan="3" style="text-align: center; font-size: 24px; background-color: #ececf4;">REVIEWEES</th>
              </tr>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Remove</th>
                    
                </tr>
            </thead>
            {% for reviewee in reviewees %}
            <!-- {% if user_id == user.id %} -->
            <tbody>
                <tr>
                    <td>{{reviewee.first_name}} {{user.last_name}}</td>
                    <td>System Architect</td>
                    <td><button type="button" class="btn btn-warning">Remove</button></td>
                    
                </tr>
                <tr>
                    <td>{{reviewee.first_name}} {{reviewee.last_name}}</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
                <tr>
                  <td>{{reviewee.first_name}} {{reviewee.last_name}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
                <tr>
                  <td>{{reviewee.first_name}} {{reviewee.last_name}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
                <tr>
                  <td>{{reviewee.first_name}} {{reviewee.last_name}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
                <tr>
                  <td>{{reviewee.first_name}} {{reviewee.last_name}}</td>
                  <td>Accountant</td>
                  <td><button type="button" class="btn btn-warning">Remove</button></td>
                </tr>
            </tbody>
            <!-- {% endif %} -->
            {% endfor %}
          </table>
    
        </div>
    
      </div>
    
    </div>
    </form>
    {% else %}
{% endif %}
{% include "includes/footer.html" %}  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

