
{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<html>

<body> 

    <div class="container">
        <table id="reviewers" class="col table table-striped table-bordered" style="width: 500px;margin-top: 20px;">
            <thead>
                <tr>
                    <th colspan="3" style="text-align: center; font-size: 24px; background-color: #ececf4;">REVIEWEES</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left: 500px;">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 700px;">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">PLEASE RATE **</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body" >
                                <!-- Material input -->
                                <div class="row">
                                    <div class="col-md-12">
                                            <div class="card text-left">
                                                <div class="card-body">
                                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                        <li class="nav-item"><a class="nav-link active" id="developOtherss" data-toggle="tab" href="#developOthers" role="tab" aria-controls="developOthers" aria-selected="false">Develop Others</a></li>
                                                        <li class="nav-item"><a class="nav-link" id="resiliencee" data-toggle="tab" href="#resilience" role="tab" aria-controls="resilience" aria-selected="false">Resilience</a></li>
                                                        <li class="nav-item"><a class="nav-link" id="feedbackk" data-toggle="tab" href="#feedback" role="tab" aria-controls="feedback" aria-selected="false">Feedback</a></li>
                                                        <li class="nav-item"><a class="nav-link" id="deliveringg" data-toggle="tab" href="#delivering" role="tab" aria-controls="delivering" aria-selected="false">Delivering</a></li>
                                                        <li class="nav-item"><a class="nav-link" id="initiativee" data-toggle="tab" href="#initiative" role="tab" aria-controls="initiative" aria-selected="false">Initiative</a></li>


                                                    </ul>
                                                    <div class="tab-content" id="myTabContent">
                                                        <div class="tab-pane fade show active" id="developOthers" role="tabpanel" aria-labelledby="developOtherss">
                                                            <p>How does *** keep talented people challenged?</p> 
                                                            <div class="rating">
                                                                <input id="1do5" name="1do" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="1do5">☆</label>
                                                                <input id="1do4" name="1do" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="1do4">☆</label>
                                                                <input id="1do3" name="1do" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="1do3">☆</label>
                                                                <input id="1do2" name="1do" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="1do2">☆</label>
                                                                <input id="1do1" name="1do" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="1do1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** develop bench strength for the future?</p>
                                                            <div class="rating">
                                                                <input id="2do5" name="2do" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="2do5">☆</label>
                                                                <input id="2do4" name="2do" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="2do4">☆</label>
                                                                <input id="2do3" name="2do" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="2do3">☆</label>
                                                                <input id="2do2" name="2do" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="2do2">☆</label>
                                                                <input id="2do1" name="2do" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="2do1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** provide cross-training and job rotations?</p>
                                                            <div class="rating">
                                                                <input id="3do5" name="3do" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="3do5">☆</label>
                                                                <input id="3do4" name="3do" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="3do4">☆</label>
                                                                <input id="3do3" name="3do" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="3do3">☆</label>
                                                                <input id="3do2" name="3do" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="3do2">☆</label>
                                                                <input id="3do1" name="3do" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="3do1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** create an environment that supports achievement of expectations?</p>
                                                            <div class="rating">
                                                                <input id="4do5" name="4do" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="4do5">☆</label>
                                                                <input id="4do4" name="4do" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="4do4">☆</label>
                                                                <input id="4do3" name="4do" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="4do3">☆</label>
                                                                <input id="4do2" name="4do" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="4do2">☆</label>
                                                                <input id="4do1" name="4do" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="4do1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <style>
                                                                html {
                                                                    box-sizing: border-box;
                                                                    min-height: 100vh;
                                                                    display: flex;
                                                                    justify-content: center;
                                                                    align-items: center;
                                                                    font-family: "VT323", monospace;
                                                                    }

                                                                    .wrapper {
                                                                    padding: 10px;
                                                                    border: 1px solid #000;
                                                                    max-width: 350px;
                                                                    font-family: "VT323", monospace;
                                                                    }

                                                                    /* rating */
                                                                    .therating {
                                                                    display: flex;
                                                                    justify-content: space-between;
                                                                    align-items: center;
                                                                    }
                                                                    .starlabel {
                                                                        padding: 0 !important;
                                                                        margin: 0 !important;
                                                                    }

                                                                    .hide {
                                                                    display: none;
                                                                    }

                                                                    .clear {
                                                                    float: none;
                                                                    clear: both;
                                                                    }

                                                                    .rating {
                                                                        unicode-bidi: bidi-override;
                                                                        direction: rtl;
                                                                    }

                                                                    .rating > label {
                                                                        padding: 0 !important;
                                                                        margin: 0 !important;
                                                                        cursor: pointer;
                                                                        color: #000;
                                                                        width: 1.1em;
                                                                    }

                                                                    .rating > label:hover,
                                                                    .rating > label:hover ~ label,
                                                                    .rating > input.radio-btn:checked ~ label {
                                                                        color: transparent;
                                                                    }

                                                                    .rating > label:hover:before,
                                                                    .rating > label:hover ~ label:before,
                                                                    .rating > input.radio-btn:checked ~ label:before,
                                                                    .rating > input.radio-btn:checked ~ label:before {
                                                                        content: "\2605";
                                                                        color: #FFD700;
                                                                    }


                                                                    .star_full {
                                                                        content: "\2606";
                                                                        color: #FFD700;
                                                                    }

                                                                    .comment {
                                                                    color:  #212121;
                                                                    }
                                                          </style>    
                                                              <br>
                                                              <br>
                                                              <br>   
                                                        </div>
                                                        <div class="tab-pane fade" id="resilience" role="tabpanel" aria-labelledby="resiliencee">
                                                            <p>How does *** deal effectively with pressure?</p> 
                                                            <div class="rating">
                                                                <input id="1re5" name="1re" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="1re5">☆</label>
                                                                <input id="1re4" name="1re" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="1re4">☆</label>
                                                                <input id="1re3" name="1re" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="1re3">☆</label>
                                                                <input id="1re2" name="1re" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="1re2">☆</label>
                                                                <input id="1re1" name="1re" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="1re1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** maintain composure and direction in high pressure situations?</p>
                                                            <div class="rating">
                                                                <input id="2re5" name="2re" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="2re5">☆</label>
                                                                <input id="2re4" name="2re" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="2re4">☆</label>
                                                                <input id="2re3" name="2re" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="2re3">☆</label>
                                                                <input id="2re2" name="2re" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="2re2">☆</label>
                                                                <input id="2re1" name="2re" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="2re1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** respond to business unit setbacks?</p>
                                                            <div class="rating">
                                                                <input id="3re5" name="3re" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="3re5">☆</label>
                                                                <input id="3re4" name="3re" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="3re4">☆</label>
                                                                <input id="3re3" name="3re" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="3re3">☆</label>
                                                                <input id="3re2" name="3re" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="3re2">☆</label>
                                                                <input id="3re1" name="3re" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="3re1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** adjust comfortably to difficult situations?</p>
                                                            <div class="rating">
                                                                <input id="4re5" name="4re" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="4re5">☆</label>
                                                                <input id="4re4" name="4re" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="4re4">☆</label>
                                                                <input id="4re3" name="4re" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="4re3">☆</label>
                                                                <input id="4re2" name="4re" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="4re2">☆</label>
                                                                <input id="4re1" name="4re" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="4re1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                                
                                                              <br>
                                                              <br>
                                                              <br>   
                                                        </div>
                                                        <div class="tab-pane fade" id="feedback"role="tabpanel" aria-labelledby="feedbackk">
                                                            <p>How is *** open to receive feedback and improve on oneself?</p> 
                                                            <div class="rating">
                                                                <input id="1fe5" name="1fe" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="1fe5">☆</label>
                                                                <input id="1fe4" name="1fe" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="1fe4">☆</label>
                                                                <input id="1fe3" name="1fe" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="1fe3">☆</label>
                                                                <input id="1fe2" name="1fe" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="1fe2">☆</label>
                                                                <input id="1fe1" name="1fe" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="1fe1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** give feedback accurately and fairly?</p>
                                                            <div class="rating">
                                                                <input id="2fe5" name="2fe" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="2fe5">☆</label>
                                                                <input id="2fe4" name="2fe" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="2fe4">☆</label>
                                                                <input id="2fe3" name="2fe" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="2fe3">☆</label>
                                                                <input id="2fe2" name="2fe" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="2fe2">☆</label>
                                                                <input id="2fe1" name="2fe" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="2fe1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** make performance review a meaningful process?</p>
                                                            <div class="rating">
                                                                <input id="3fe5" name="3fe" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="3fe5">☆</label>
                                                                <input id="3fe4" name="3fe" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="3fe4">☆</label>
                                                                <input id="3fe3" name="3fe" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="3fe3">☆</label>
                                                                <input id="3fe2" name="3fe" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="3fe2">☆</label>
                                                                <input id="3fe1" name="3fe" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="3fe1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              
                                                              
                                                              <br>
                                                              <br>
                                                              <br>   
                                                        </div>
                                                        <div class="tab-pane fade" id="delivering"role="tabpanel" aria-labelledby="deliveringg">
                                                            <p>How does *** show technical proficiency in his or her line of work?</p> 
                                                            <div class="rating">
                                                                <input id="1de5" name="1de" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="1de5">☆</label>
                                                                <input id="1de4" name="1de" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="1de4">☆</label>
                                                                <input id="1de3" name="1de" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="1de3">☆</label>
                                                                <input id="1de2" name="1de" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="1de2">☆</label>
                                                                <input id="1de1" name="1de" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="1de1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** perservere and deliver on business initiatives?</p>
                                                            <div class="rating">
                                                                <input id="2de5" name="2de" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="2de5">☆</label>
                                                                <input id="2de4" name="2de" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="2de4">☆</label>
                                                                <input id="2de3" name="2de" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="2de3">☆</label>
                                                                <input id="2de2" name="2de" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="2de2">☆</label>
                                                                <input id="2de1" name="2de" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="2de1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** independently delivers high standards of work with minimal supervision?</p>
                                                            <div class="rating">
                                                                <input id="3de5" name="3de" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="3de5">☆</label>
                                                                <input id="3de4" name="3de" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="3de4">☆</label>
                                                                <input id="3de3" name="3de" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="3de3">☆</label>
                                                                <input id="3de2" name="3de" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="3de2">☆</label>
                                                                <input id="3de1" name="3de" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="3de1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** ?</p>
                                                            <div class="rating">
                                                                <input id="4de5" name="4de" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="4de5">☆</label>
                                                                <input id="4de4" name="4de" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="4de4">☆</label>
                                                                <input id="4de3" name="4de" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="4de3">☆</label>
                                                                <input id="4de2" name="4de" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="4de2">☆</label>
                                                                <input id="4de1" name="4de" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="4de1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                               
                                                              <br>
                                                              <br>
                                                              <br>   
                                                        </div>
                                                        <div class="tab-pane fade" id="initiative"role="tabpanel" aria-labelledby="initiativee">
                                                            <p>How does *** take actions beyond job requirements?</p> 
                                                            <div class="rating">
                                                                <input id="1in5" name="1in" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="1in5">☆</label>
                                                                <input id="1in4" name="1in" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="1in4">☆</label>
                                                                <input id="1in3" name="1in" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="1in3">☆</label>
                                                                <input id="1in2" name="1in" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="1in2">☆</label>
                                                                <input id="1in1" name="1in" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="1in1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** propose changes to improve work performance?</p>
                                                            <div class="rating">
                                                                <input id="2in5" name="2in" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="2in5">☆</label>
                                                                <input id="2in4" name="2in" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="2in4">☆</label>
                                                                <input id="2in3" name="2in" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="2in3">☆</label>
                                                                <input id="2in2" name="2in" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="2in2">☆</label>
                                                                <input id="2in1" name="2in" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="2in1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** peoactively encourages improvement to positive changes?</p>
                                                            <div class="rating">
                                                                <input id="3in5" name="3in" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="3in5">☆</label>
                                                                <input id="3in4" name="3in" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="3in4">☆</label>
                                                                <input id="3in3" name="3in" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="3in3">☆</label>
                                                                <input id="3in2" name="3in" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="3in2">☆</label>
                                                                <input id="3in1" name="3in" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="3in1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** take action on approved innovative ideas?</p>
                                                            <div class="rating">
                                                                <input id="4in5" name="4in" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="4in5">☆</label>
                                                                <input id="4in4" name="4in" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="4in4">☆</label>
                                                                <input id="4in3" name="4in" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="4in3">☆</label>
                                                                <input id="4in2" name="4in" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="4in2">☆</label>
                                                                <input id="4in1" name="match2" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="4in1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>
                                                            <p>How does *** actively pursue alternative ideas to work and gain cost savings?</p>
                                                            <div class="rating">
                                                                <input id="5in5" name="5in" type="radio" value="5" class="radio-btn hide" />
                                                                <label for="5in5">☆</label>
                                                                <input id="5in4" name="5in" type="radio" value="4" class="radio-btn hide" />
                                                                <label for="5in4">☆</label>
                                                                <input id="5in3" name="5in" type="radio" value="3" class="radio-btn hide" />
                                                                <label for="5in3">☆</label>
                                                                <input id="5in2" name="5in" type="radio" value="2" class="radio-btn hide" />
                                                                <label for="5in2">☆</label>
                                                                <input id="5in1" name="5in" type="radio" value="1" class="radio-btn hide" />
                                                                <label for="5in1">☆</label>
                                                                <div class="clear"></div>
                                                              </div>
                                                              <br>
                                                              <br>
                                                              <br>   
                                                        </div>

                                                    </div>
                                                    
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" value="Submit" id="order" class="btn btn-primary">SUBMIT</button>
                            </div>
                        </div>
                        </div>
                    </div>    
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                         
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                    
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                    
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                    
                </tr>
                <tr>
                    <td>Garrett Winters</td>
                    <td>Accountant</td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Review
                    </button></td>
                     
                    
                </tr>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
            
    </div>


    
{% include "includes/footer.html" %}

<!-- {% endblock content %}
{% block javascripts %}{% endblock javascripts %} -->



</body>

</html>
